body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: bold;
    display: block;
    margin-top: 10px
}

.container {
    width: 400px;
    margin: 30px auto;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #27ae60;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #219150;
}

.resumo {
    margin-top: 25px;
    padding: 15px;
    background-color: #ecf0f1;
    border-radius: 6px;
}

.resumo h2 {
    margin-top: 0;
    color: #2c3e50;
}

.resumo p {
    margin: 5px 0;
    font-size: 14px;
}

.btn-voltar-container {
    text-align: right;   /* Alinha o conteúdo à direita */
    margin-top: 15px;
}

.btn-voltar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #27ae60;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-voltar:hover {
    background-color: #219150;
}
